<div class="preloader">
	<div class="spinner">
		<div class="pre-bounce1"></div>
		<div class="pre-bounce2"></div>
	</div>
</div>
<div id="page" class="hfeed site">
	<a class="skip-link screen-reader-text" href="index.html#content">Skip to content</a>

	<header id="masthead" class="site-header" role="banner">
		<div class="header-wrap">
			<div class="container">
				<div class="row">
					<div class="col-md-2 col-sm-8 col-xs-12">
						<a class="site-title" href="/" rel="home"><img class="vivastar-logo" src="public/images/vivastarcoffee_logo.png" alt=""></a>
						<h1 class="site-description">VIVA STAR COFFEE</h1>
					</div>
					<div class="col-md-10 col-sm-4 col-xs-12">
						<div class="btn-menu">
						</div>
						<nav id="mainnav" class="mainnav active" role="navigation">
							<div class="menu-menu-1-container">
								<ul id="menu-menu-1" class="menu">
									<li id="menu-item-256" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-256"><a href="#">Về chúng tôi</a></li>
									<li id="menu-item-151" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-151"><a href="#">Sản phẩm</a></li>
									<li id="menu-item-151" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-151"><a href="#">Menu</a></li>
									<li id="menu-item-152" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-152"><a href="#">Nhượng quyền</a></li>
									<li id="menu-item-151" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-151"><a href="#">Góc coffee</a></li>
									<li id="menu-item-152" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-152"><a href="#">Liên hệ</a></li>
								</ul>
							</div>
						</nav>
						<!-- #site-navigation -->
						<!--<a class="nav-menu" href=""><i class="fa fa-bars fa-1x" aria-hidden="true"></i></a>-->
						<!--<div class="search">
							<form action="">
								<input type="text" class="search-bar">
								<button><i class="fa fa-search fa-1x" aria-hidden="true"></i></button>
							</form>
						</div>-->
					</div>

				</div>
			</div>
		</div>
	</header>
	<!-- #masthead -->

	<div id="slideshow" class="header-slider" data-speed="4000">
		<div class="slides-container">
			<div class="slide-item" style="background-image:url('public/images/viva_banner_5-min.jpg');">
				<div class="slide-inner">
					<div class="contain animated fadeInRightBig text-slider">
						<h2 class="maintitle">The best coffee - For the best YOU</h2>
						<p class="subtitle">Welcome to Vivastar!</p>
					</div>
					<a href="index.html#primary" class="roll-button button-slider">Click to begin</a> </div>
			</div>
			<div class="slide-item" style="background-image:url('public/images/viva_banner_6-min.jpg');">
				<div class="slide-inner">
					<div class="contain animated fadeInRightBig text-slider">
						<h2 class="maintitle">Ready to begin your journey?</h2>
						<p class="subtitle">Welcome to Vivastar!</p>
					</div>
					<a href="index.html#primary" class="roll-button button-slider">Click to begin</a>
				</div>
			</div>
		</div>
	</div>



	<div class="header-image">
		<div class="overlay"></div> <img class="header-inner" src="public/images/header.jpg" width="1920" alt="Sydney">
	</div>

	<div id="content" class="page-wrap">
		<div class="container content-wrapper">
			<div class="row">
				<div id="primary" class="fp-content-area">
					<main id="main" class="site-main" role="main">

						<div class="entry-content">
							<div id="pl-8">
								<div class="panel-grid" id="pg-8-0">
									<div class="siteorigin-panels-stretch panel-row-style" style="border-bottom: 1px solid #e0e0e0;padding: 100px 0; " data-stretch-type="full"
										data-overlay="true">
										<div class="panel-grid-cell" id="pgc-8-0-0">
											<div class="so-panel widget widget_sydney_services_type_a sydney_services_widget panel-first-child panel-last-child" id="panel-8-0-0-0"
												data-index="0">
												<h3 class="widget-title" data-aos="zoom-in">Về chúng tôi</h3>
												<div class="service col-md-4">
													<div class="roll-icon-box">

														<div class="icon" data-aos="flip-left" data-aos-offset="200">
															<i class="fa fa-camera-retro"></i> </div>
														<div class="content" data-aos="fade-up" data-aos-offset="200">
															<h3>Giá trị cốt lỗi</h3>

															<p>Đối với bất kỳ một tổ chức hay cá nhân nào, giá trị cốt lõi luôn là một thành phần không thể tách rời. Không
																một thương hiệu thành công nào mà lại không xây dựng được cho mình một giá trị cốt lõi đặc trưng.</p>
															<p>&nbsp;</p>
														</div>
														<!--.info-->
													</div>
												</div>
												<div class="service col-md-4">
													<div class="roll-icon-box">

														<div class="icon" data-aos="flip-left" data-aos-offset="200">
															<i class="fa fa-codepen"></i> </div>
														<div class="content" data-aos="fade-up" data-aos-offset="200">
															<h3>Tầm nhìn - Sứ mệnh</h3>

															<p>Ngày nay, khi thế giới hội nhập một cách mạnh mẽ. Đó là lợi thế và cũng là thách thức không hề nhỏ cho mọi
																Doanh nghiệp. VIVA STAR nhận thức rất rõ điều đó và đã xây dựng cho mình một tầm nhìn chiến lược cũng như
																nhận về mình những sứ mệnh cao cả.</p>
														</div>
														<!--.info-->
													</div>
												</div>
												<div class="service col-md-4">
													<div class="roll-icon-box">

														<div class="icon" data-aos="flip-left" data-aos-offset="200">
															<a href="http://google.com"><i class="fa fa-desktop"></i></a> </div>
														<div class="content" data-aos="fade-up" data-aos-offset="200">
															<h3>Cơ hội nghề nghiệp</h3>

															<p>Chúng tôi nhận ra rằng những doanh nghiệp thành công là nhờ những con người ưu tú. Dám khát vọng, dám dấn
																thân, dám cháy hết mình với công việc. Đó là những cá nhân không ngại đưa ra những quyết định dũng cảm.</p>
														</div>
														<!--.info-->
													</div>
												</div>

												<a href="index.html#pg-8-1" class="roll-button more-button" data-aos="zoom-in-up" data-aos-offset="200">
													Xem thêm											</a>

											</div>
										</div>
									</div>
								</div>
								<div class="panel-grid" id="pg-8-1">
									<div class="siteorigin-panels-stretch panel-row-style" style="background-color:#f5f5f5;border-bottom: 1px solid #e0e0e0;padding: 100px 0; "
										data-stretch-type="full" data-overlay="true">
										<div class="panel-grid-cell" id="pgc-8-1-0">
											<div class="so-panel widget widget_sydney_services_type_b sydney_services_b_widget panel-first-child panel-last-child" id="panel-8-1-0-0"
												data-index="1">
												<h3 class="widget-title" data-aos="zoom-in">Dịch vụ của chúng tôi</h3>
												<div class="roll-icon-list">
													<div class="service clearfix ">
														<div class="list-item">

															<div class="icon" data-aos="flip-left" data-aos-offset="200">
																<i class="fa fa-globe"></i> </div>
															<div class="content" data-aos="fade" data-aos-offset="200">
																<h3>
																	Phân phối cà phê </h3>

																<p>Sản phẩm của công ty đáp ứng đựơc thị hiếu của khách hàng từ bắc tới nam, chinh phục đựơc nhiều khách hàng
																	khó tính nhất. Các dòng sản phẩm khác nhau mang phong cách và đặc trưng riêng, là sự hài hòa của cái quá
																	khứ - hiện tại – tương lai, giữa hiện đại và cổ điển, giữa đặc trưng Việt với hội nhập đa chiều.</p>
															</div>
															<!--.info-->
														</div>
													</div>
													<div class="service clearfix ">
														<div class="list-item">

															<div class="icon" data-aos="flip-left" data-aos-offset="200">
																<i class="fa fa-coffee"></i> </div>
															<div class="content" data-aos="fade" data-aos-offset="200">
																<h3>
																	Nhượng quyền thương hiệu </h3>

																<p>Năm 2013, bằng sự năng động, sáng tạo và đón đầu xu hướng phát triển cà phê trong tương lai, chúng tôi, Công
																	ty Cổ phần Viva Star đã bước đầu xây dựng thành công và mang lại hiệu quả với hệ thống nhượng quyền VIVA
																	STAR COFFEE tại Việt Nam.</p>
															</div>
															<!--.info-->
														</div>
													</div>
													<div class="service clearfix ">
														<div class="list-item">

															<div class="icon" data-aos="flip-left" data-aos-offset="250">
																<i class="fa fa-cogs"></i> </div>
															<div class="content" data-aos="fade" data-aos-offset="250">
																<h3>
																	Tư vấn, thiết kế và quản lý </h3>

																<p>Viva Star được khơi nguồn bởi lòng nhiệt tình, sự quyết tâm và mục tiêu đem lại những thiết kế quán cafe,
																	nhà hàng tiện dụng, đạt hiệu quả thẩm mỹ và công năng cao.</p>
															</div>
															<!--.info-->
														</div>
													</div>
												</div>


											</div>
										</div>
										<div class="panel-grid-cell" id="pgc-8-1-1">
											<div class="so-panel widget widget_sow-image panel-first-child panel-last-child" id="panel-8-1-1-0" data-index="2">
												<div class="so-widget-sow-image so-widget-sow-image-default-3f547a15eaaa">

													<div class="sow-image-container" data-aos="zoom-in" data-aos-delay="500" data-aos-duration="1500">
														<img src="public/images/coffee1.png" width="550" height="363" class="so-widget-image" />
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="panel-grid" id="pg-8-2">
									<div class="siteorigin-panels-stretch panel-row-style" style="padding: 50px;background-color:#252525;background-image: url('public/images/bgcoffee1.jpg');padding: 50px 0; "
										data-stretch-type="full" data-hasbg="hasbg" data-overlay="true">
										<div class="panel-grid-cell" id="pgc-8-2-0">
											<div class="so-panel widget widget_siteorigin-panels-builder panel-first-child panel-last-child" id="panel-8-2-0-0" data-index="3">
												<div id="pl-w56f52953c3d68">
													<div class="panel-grid" id="pg-w56f52953c3d68-0">
														<div style="padding: 0px;color: #d65050;padding: 0px 0; " data-hascolor="hascolor" data-overlay="true" class="panel-row-style">
															<div class="panel-grid-cell" id="pgc-w56f52953c3d68-0-0">
																<div class="so-panel widget widget_text panel-first-child panel-last-child" id="panel-w56f52953c3d68-0-0-0" data-index="0">
																	<h3 class="widget-title">Sản phẩm</h3>
																	<div class="textwidget"></div>
																</div>
															</div>
														</div>
													</div>
													<div class="panel-grid" id="pg-w56f52953c3d68-1">
														<!-- product item -->
														<div id="owl-products" class="owl-products">
															<div class="item">
																<img src="public/images/coffee1.png" alt="Product 1">
																<div class="product-title">B1 - CULI ROBUSTA</div>
															</div>
															<div class="item"><img src="public/images/coffee1.png" alt="Product 1"></div>
															<div class="item"><img src="public/images/coffee1.png" alt="Product 1"></div>
															<div class="item"><img src="public/images/coffee1.png" alt="Product 1"></div>
															<div class="item"><img src="public/images/coffee1.png" alt="Product 1"></div>
															<div class="item"><img src="public/images/coffee1.png" alt="Product 1"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="panel-grid" id="pg-8-3">
									<div style="padding: 100px 0; " data-overlay="true" class="panel-row-style">
										<div class="panel-grid-cell" id="pgc-8-3-0">
											<div class="so-panel widget widget_sydney_employees sydney_employees_widget panel-first-child panel-last-child" id="panel-8-3-0-0"
												data-index="4">
												<h3 class="widget-title">Hệ thống nhượng quyền</h3>
												<div class="roll-team carousel owl-carousel" data-widgetid="employees-widget-3-0-0">
													<div class="team-item">
														<div class="team-inner">
															<div class="pop-overlay">
																<div class="team-pop">
																	<div class="team-info">
																		<div class="name">Xem chi tiết</div>
																		<ul class="team-social">
																			<li><a class="facebook" href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
																			<li><a class="twitter" href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
																			<li><a class="google" href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a></li>
																		</ul>
																	</div>
																</div>
															</div>
															<div class="avatar">
																<img width="400" height="400" src="public/images/viva_shop_1.jpg" class="attachment-sydney-medium-thumb size-sydney-medium-thumb wp-post-image"
																	alt="emp5" /> </div>
														</div>
														<div class="team-content">
															<div class="name">
																Viva Star - Cao Thắng
															</div>
														</div>
													</div>
													<!-- /.team-item -->

													<div class="team-item">
														<div class="team-inner">
															<div class="pop-overlay">
																<div class="team-pop">
																	<div class="team-info">
																		<div class="name">Xem chi tiết</div>
																		<ul class="team-social">
																			<li><a class="facebook" href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
																			<li><a class="twitter" href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
																			<li><a class="google" href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a></li>
																		</ul>
																	</div>
																</div>
															</div>
															<div class="avatar">
																<img width="400" height="400" src="public/images/viva_shop_2.jpg" class="attachment-sydney-medium-thumb size-sydney-medium-thumb wp-post-image"
																	alt="emp6" /> </div>
														</div>
														<div class="team-content">
															<div class="name">Viva Star - Dân Tộc</div>
														</div>
													</div>
													<!-- /.team-item -->

													<div class="team-item">
														<div class="team-inner">
															<div class="pop-overlay">
																<div class="team-pop">
																	<div class="team-info">
																		<div class="name">Xem chi tiết</div>
																		<ul class="team-social">
																			<li><a class="facebook" href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
																			<li><a class="twitter" href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
																			<li><a class="google" href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a></li>
																		</ul>
																	</div>
																</div>
															</div>
															<div class="avatar">
																<img width="400" height="400" src="public/images/viva_shop_3_1.jpg" class="attachment-sydney-medium-thumb size-sydney-medium-thumb wp-post-image"
																	alt="3" /> </div>
														</div>
														<div class="team-content">
															<div class="name">
																Viva Star - Thành Thái </div>
														</div>
													</div>
													<!-- /.team-item -->

													<div class="team-item">
														<div class="team-inner">
															<div class="pop-overlay">
																<div class="team-pop">
																	<div class="team-info">
																		<div class="name">Xem chi tiết</div>
																		<ul class="team-social">
																			<li><a class="facebook" href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
																			<li><a class="twitter" href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
																			<li><a class="google" href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a></li>
																		</ul>
																	</div>
																</div>
															</div>
															<div class="avatar">
																<img width="400" height="400" src="public/images/viva_shop_1.jpg" class="attachment-sydney-medium-thumb size-sydney-medium-thumb wp-post-image"
																	alt="emp5" /> </div>
														</div>
														<div class="team-content">
															<div class="name">
																<a href="http://google.com">Viva Star - Cao Thắng</a>
															</div>
														</div>
													</div>
													<!-- /.team-item -->

													<div class="team-item">
														<div class="team-inner">
															<div class="pop-overlay">
																<div class="team-pop">
																	<div class="team-info">
																		<div class="name">Xem chi tiết</div>
																		<ul class="team-social">
																			<li><a class="facebook" href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
																			<li><a class="twitter" href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
																			<li><a class="google" href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a></li>
																		</ul>
																	</div>
																</div>
															</div>
															<div class="avatar">
																<img width="400" height="400" src="public/images/viva_shop_2.jpg" class="attachment-sydney-medium-thumb size-sydney-medium-thumb wp-post-image"
																	alt="emp6" /> </div>
														</div>
														<div class="team-content">
															<div class="name">Viva Star - Dân Tộc</div>
														</div>
													</div>
													<!-- /.team-item -->

													<div class="team-item">
														<div class="team-inner">
															<div class="pop-overlay">
																<div class="team-pop">
																	<div class="team-info">
																		<div class="name">Xem chi tiết</div>
																		<ul class="team-social">
																			<li><a class="facebook" href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
																			<li><a class="twitter" href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
																			<li><a class="google" href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a></li>
																		</ul>
																	</div>
																</div>
															</div>
															<div class="avatar">
																<img width="400" height="400" src="public/images/viva_shop_3.jpg" class="attachment-sydney-medium-thumb size-sydney-medium-thumb wp-post-image"
																	alt="3" /> </div>
														</div>
														<div class="team-content">
															<div class="name">
																Viva Star - Thành Thái </div>
														</div>
													</div>
													<!-- /.team-item -->

												</div>



											</div>
										</div>
									</div>
								</div>
								<div class="panel-grid" id="pg-8-4">
									<div class="siteorigin-panels-stretch panel-row-style" style="padding: 50px;background-color:#d65050;color: #ffffff;padding: 50px 0; "
										data-stretch-type="full" data-hascolor="hascolor" data-overlay="true">
										<div class="panel-grid-cell" id="pgc-8-4-0">
											<div class="so-panel widget widget_sydney_facts sydney_facts_widget panel-first-child panel-last-child" id="panel-8-4-0-0"
												data-index="5">

												<div class="col-md-3 col-sm-3">
													<div class="roll-counter">
														<i class="fa fa-briefcase"></i>
														<div class="name-count">Projects</div>
														<div class="numb-count" data-to="98" data-speed="2000" data-waypoint-active="yes">98</div>
													</div>
												</div>
												<div class="col-md-3 col-sm-3">
													<div class="roll-counter">
														<i class="fa fa-coffee"></i>
														<div class="name-count">Coffee cups</div>
														<div class="numb-count" data-to="421" data-speed="2000" data-waypoint-active="yes">421</div>
													</div>
												</div>
												<div class="col-md-3 col-sm-3">
													<div class="roll-counter">
														<i class="fa fa-users"></i>
														<div class="name-count">Customers</div>
														<div class="numb-count" data-to="814" data-speed="2000" data-waypoint-active="yes">814</div>
													</div>
												</div>
												<div class="col-md-3 col-sm-3">
													<div class="roll-counter">
														<i class="fa fa-graduation-cap"></i>
														<div class="name-count">Awards</div>
														<div class="numb-count" data-to="221" data-speed="2000" data-waypoint-active="yes">221</div>
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
								<div class="panel-grid" id="pg-8-5">
									<div class="siteorigin-panels-stretch panel-row-style" style="color: #ffffff;background-image: url('public/images/uploads/urban-438393_1280.jpg');padding: 100px 0; "
										data-stretch-type="full" data-hascolor="hascolor" data-hasbg="hasbg" data-overlay="true">
										<div class="panel-grid-cell" id="pgc-8-5-0">
											<div class="so-panel widget widget_sydney_testimonials sydney_testimonials_widget panel-first-child panel-last-child" id="panel-8-5-0-0"
												data-index="6">
												<h3 class="widget-title">What our clients say</h3>
												<div class="col-md-12">
													<div class="roll-testimonials" data-autoplay="5000">
														<div class="customer">
															<blockquote class="whisper">
																<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ipsum enim, commodo in sapien eget, accumsan
																	maximus metus. Cras eu nulla sit amet nulla aliquet iaculis et porta augue.</p>
															</blockquote>
															<div class="avatar">
																<img width="400" height="400" src="public/images/uploads/1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
																	alt="1" srcset="http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/1.jpg 400w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/1-150x150.jpg 150w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/1-300x300.jpg 300w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/1-180x180.jpg 180w"
																	sizes="(max-width: 400px) 100vw, 400px" /> </div>

															<div class="name">
																James Stevens <span>Developer@yahoo.com</span>
															</div>
														</div>
														<div class="customer">
															<blockquote class="whisper">
																<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ipsum enim, commodo in sapien eget, accumsan
																	maximus metus. Cras eu nulla sit amet nulla aliquet iaculis et porta augue.</p>
															</blockquote>
															<div class="avatar">
																<img width="400" height="400" src="public/images/uploads/3.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
																	alt="3" srcset="http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/3.jpg 400w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/3-150x150.jpg 150w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/3-300x300.jpg 300w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/3-180x180.jpg 180w"
																	sizes="(max-width: 400px) 100vw, 400px" /> </div>

															<div class="name">
																John Doe <span>CEO@google.com</span>
															</div>
														</div>
													</div>
												</div>




												</section>
											</div>
										</div>
									</div>
								</div>
								<div class="panel-grid" id="pg-8-6">
									<div class="siteorigin-panels-stretch panel-row-style" style="border-bottom: 1px solid #e0e0e0;padding: 100px 0; " data-stretch-type="full-stretched"
										data-overlay="true">
										<div class="panel-grid-cell" id="pgc-8-6-0">
											<div class="so-panel widget widget_sydney_portfolio sydney_portfolio_widget panel-first-child panel-last-child" id="panel-8-6-0-0"
												data-index="7">
												<div style="text-align: left;" data-title-color="#443f3f" data-headings-color="#443f3f" class="panel-widget-style">
													<h3 class="widget-title">Menu</h3>
													<div class="project-wrap">
														<ul class="project-filter" id="filters">
															<li><a href="index.html#" data-filter="*">Show all</a></li>
															<li><a href='index.html#' data-filter='.landscapes'>Landscapes</a></li>
															<li><a href='index.html#' data-filter='.nature'>Nature</a></li>
															<li><a href='index.html#' data-filter='.science'>Science</a></li>
														</ul>
														<div class="roll-project fullwidth">
															<div class="isotope-container" data-portfolio-effect="fadeInUp">
																<div class="project-item item isotope-item science ">
																	<a class="project-pop-wrap" href="http://google.com">
																		<div class="project-pop"></div>
																		<div class="project-title-wrap">
																			<div class="project-title"><span>Project iota</span></div>
																		</div>
																	</a>
																	<a href="http://google.com"><img width="480" height="320" src="public/images/uploads/sun-513848_640-480x320.jpg" class="attachment-sydney-mas-thumb size-sydney-mas-thumb wp-post-image"
																			alt="sun-513848_640" srcset="http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/sun-513848_640-480x320.jpg 480w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/sun-513848_640-300x200.jpg 300w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/sun-513848_640-550x366.jpg 550w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/sun-513848_640-272x182.jpg 272w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/sun-513848_640.jpg 640w"
																			sizes="(max-width: 480px) 100vw, 480px" /></a>
																</div>
																<div class="project-item item isotope-item landscapes science ">
																	<a class="project-pop-wrap" href="projects/project-theta/index.html">
																		<div class="project-pop"></div>
																		<div class="project-title-wrap">
																			<div class="project-title"><span>Project theta</span></div>
																		</div>
																	</a>
																	<a href="projects/project-theta/index.html"><img width="480" height="320" src="public/images/uploads/shimano-501433_640-480x320.jpg" class="attachment-sydney-mas-thumb size-sydney-mas-thumb wp-post-image"
																			alt="shimano-501433_640" srcset="http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/shimano-501433_640-480x320.jpg 480w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/shimano-501433_640-300x200.jpg 300w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/shimano-501433_640-550x366.jpg 550w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/shimano-501433_640-272x182.jpg 272w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/shimano-501433_640.jpg 640w"
																			sizes="(max-width: 480px) 100vw, 480px" /></a>
																</div>
																<div class="project-item item isotope-item nature ">
																	<a class="project-pop-wrap" href="projects/project-eta/index.html">
																		<div class="project-pop"></div>
																		<div class="project-title-wrap">
																			<div class="project-title"><span>Project eta</span></div>
																		</div>
																	</a>
																	<a href="projects/project-eta/index.html"><img width="480" height="320" src="public/images/uploads/sky-486846_640-480x320.jpg" class="attachment-sydney-mas-thumb size-sydney-mas-thumb wp-post-image"
																			alt="sky-486846_640" srcset="http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/sky-486846_640-480x320.jpg 480w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/sky-486846_640-300x200.jpg 300w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/sky-486846_640-550x366.jpg 550w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/sky-486846_640-272x182.jpg 272w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/sky-486846_640.jpg 640w"
																			sizes="(max-width: 480px) 100vw, 480px" /></a>
																</div>
																<div class="project-item item isotope-item nature ">
																	<a class="project-pop-wrap" href="projects/project-zeta/index.html">
																		<div class="project-pop"></div>
																		<div class="project-title-wrap">
																			<div class="project-title"><span>Project zeta</span></div>
																		</div>
																	</a>
																	<a href="projects/project-zeta/index.html"><img width="480" height="320" src="public/images/uploads/woman-546207_640-480x320.jpg" class="attachment-sydney-mas-thumb size-sydney-mas-thumb wp-post-image"
																			alt="woman-546207_640" srcset="http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/woman-546207_640-480x320.jpg 480w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/woman-546207_640-300x200.jpg 300w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/woman-546207_640-550x366.jpg 550w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/woman-546207_640-272x182.jpg 272w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/woman-546207_640.jpg 640w"
																			sizes="(max-width: 480px) 100vw, 480px" /></a>
																</div>
																<div class="project-item item isotope-item nature ">
																	<a class="project-pop-wrap" href="projects/project-stigma/index.html">
																		<div class="project-pop"></div>
																		<div class="project-title-wrap">
																			<div class="project-title"><span>Project stigma</span></div>
																		</div>
																	</a>
																	<a href="projects/project-stigma/index.html"><img width="480" height="320" src="public/images/uploads/statue-of-liberty-539318_640-480x320.jpg" class="attachment-sydney-mas-thumb size-sydney-mas-thumb wp-post-image"
																			alt="statue-of-liberty-539318_640" srcset="http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/statue-of-liberty-539318_640-480x320.jpg 480w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/statue-of-liberty-539318_640-300x200.jpg 300w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/statue-of-liberty-539318_640-550x366.jpg 550w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/statue-of-liberty-539318_640-272x182.jpg 272w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/statue-of-liberty-539318_640.jpg 640w"
																			sizes="(max-width: 480px) 100vw, 480px" /></a>
																</div>
																<div class="project-item item isotope-item landscapes nature science ">
																	<a class="project-pop-wrap" href="projects/project-epsilon/index.html">
																		<div class="project-pop"></div>
																		<div class="project-title-wrap">
																			<div class="project-title"><span>Project epsilon</span></div>
																		</div>
																	</a>
																	<a href="projects/project-epsilon/index.html"><img width="480" height="320" src="public/images/uploads/men-521540_640-480x320.jpg" class="attachment-sydney-mas-thumb size-sydney-mas-thumb wp-post-image"
																			alt="men-521540_640" srcset="http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/men-521540_640-480x320.jpg 480w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/men-521540_640-300x200.jpg 300w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/men-521540_640-550x366.jpg 550w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/men-521540_640-272x182.jpg 272w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/men-521540_640.jpg 640w"
																			sizes="(max-width: 480px) 100vw, 480px" /></a>
																</div>
																<div class="project-item item isotope-item landscapes nature ">
																	<a class="project-pop-wrap" href="projects/project-delta/index.html">
																		<div class="project-pop"></div>
																		<div class="project-title-wrap">
																			<div class="project-title"><span>Project delta</span></div>
																		</div>
																	</a>
																	<a href="projects/project-delta/index.html"><img width="480" height="320" src="public/images/uploads/legs-520604_640-480x320.jpg" class="attachment-sydney-mas-thumb size-sydney-mas-thumb wp-post-image"
																			alt="legs-520604_640" srcset="http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/legs-520604_640-480x320.jpg 480w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/legs-520604_640-300x200.jpg 300w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/legs-520604_640-550x366.jpg 550w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/legs-520604_640-272x182.jpg 272w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/legs-520604_640.jpg 640w"
																			sizes="(max-width: 480px) 100vw, 480px" /></a>
																</div>
																<div class="project-item item isotope-item landscapes ">
																	<a class="project-pop-wrap" href="projects/project-gamma/index.html">
																		<div class="project-pop"></div>
																		<div class="project-title-wrap">
																			<div class="project-title"><span>Project gamma</span></div>
																		</div>
																	</a>
																	<a href="projects/project-gamma/index.html"><img width="480" height="320" src="public/images/uploads/lake-484190_640-480x320.jpg" class="attachment-sydney-mas-thumb size-sydney-mas-thumb wp-post-image"
																			alt="lake-484190_640" srcset="http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/lake-484190_640-480x320.jpg 480w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/lake-484190_640-300x200.jpg 300w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/lake-484190_640-550x366.jpg 550w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/lake-484190_640-272x182.jpg 272w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/lake-484190_640.jpg 640w"
																			sizes="(max-width: 480px) 100vw, 480px" /></a>
																</div>
																<div class="project-item item isotope-item landscapes science ">
																	<a class="project-pop-wrap" href="projects/project-beta/index.html">
																		<div class="project-pop"></div>
																		<div class="project-title-wrap">
																			<div class="project-title"><span>Project beta</span></div>
																		</div>
																	</a>
																	<a href="projects/project-beta/index.html"><img width="480" height="320" src="public/images/uploads/helicopter-548421_640-480x320.jpg" class="attachment-sydney-mas-thumb size-sydney-mas-thumb wp-post-image"
																			alt="helicopter-548421_640" srcset="http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/helicopter-548421_640-480x320.jpg 480w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/helicopter-548421_640-300x200.jpg 300w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/helicopter-548421_640-550x366.jpg 550w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/helicopter-548421_640-272x182.jpg 272w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/helicopter-548421_640.jpg 640w"
																			sizes="(max-width: 480px) 100vw, 480px" /></a>
																</div>
																<div class="project-item item isotope-item landscapes science ">
																	<a class="project-pop-wrap" href="projects/project-alpha/index.html">
																		<div class="project-pop"></div>
																		<div class="project-title-wrap">
																			<div class="project-title"><span>Project alpha</span></div>
																		</div>
																	</a>
																	<a href="projects/project-alpha/index.html"><img width="480" height="320" src="public/images/uploads/girls-591552_640-480x320.jpg" class="attachment-sydney-mas-thumb size-sydney-mas-thumb wp-post-image"
																			alt="girls-591552_640" srcset="http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/girls-591552_640-480x320.jpg 480w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/girls-591552_640-300x200.jpg 300w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/girls-591552_640-550x367.jpg 550w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/girls-591552_640-272x182.jpg 272w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/girls-591552_640.jpg 640w"
																			sizes="(max-width: 480px) 100vw, 480px" /></a>
																</div>
															</div>
														</div>
													</div>
													<!-- /.project-wrap -->
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--<div class="panel-grid" id="pg-8-7">
										<div class="siteorigin-panels-stretch panel-row-style" style="padding: 0px;background-color:#f5f5f5;padding: 0px 0; " data-stretch-type="full-stretched"
											data-overlay="true">
											<div class="panel-grid-cell" id="pgc-8-7-0">
												<div class="so-panel widget widget_list panel-first-child panel-last-child" id="panel-8-7-0-0" data-index="8">
													<div style="margin:0 -15px;padding: 30px;background-color:#d65050;color: #ffffff;text-align: left;" data-title-color="#443f3f"
														data-headings-color="#443f3f" class="panel-widget-style">
														<h4>Who we are?</h4>
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent finibus enim ac quam pretium, vel tempor
															est laoreet. Curabitur consequat, nisi nec convallis viverra, sem turpis iaculis ex, ut mollis lorem elit
															a nulla.</p>
														<ul class='roll-list'>
															<li>Quisque ultricies ex eu ligula</li>
															<li>Ut gravida tortor ut felis varius</li>
															<li>Lorem ipsum dolor sit amet</li>
															<li>Quisque ultricies ex eu ligula</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="panel-grid-cell" id="pgc-8-7-1">
												<div class="so-panel widget widget_sydney_skills sydney_skills_widget panel-first-child panel-last-child" id="panel-8-7-1-0"
													data-index="9">
													<div style="margin: 0 -15px;padding: 30px;" class="panel-widget-style">

														<div class="roll-progress">
															<div class="name">Design</div>
															<div class="perc">87%</div>
															<div class="progress-bar" data-percent="87" data-waypoint-active="yes">
																<div class="progress-animate"></div>
															</div>
														</div>

														<div class="roll-progress">
															<div class="name">Development</div>
															<div class="perc">93%</div>
															<div class="progress-bar" data-percent="93" data-waypoint-active="yes">
																<div class="progress-animate"></div>
															</div>
														</div>

														<div class="roll-progress">
															<div class="name">Photography</div>
															<div class="perc">77%</div>
															<div class="progress-bar" data-percent="77" data-waypoint-active="yes">
																<div class="progress-animate"></div>
															</div>
														</div>

														<div class="roll-progress">
															<div class="name">Strategy</div>
															<div class="perc">82%</div>
															<div class="progress-bar" data-percent="82" data-waypoint-active="yes">
																<div class="progress-animate"></div>
															</div>
														</div>


													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="panel-grid" id="pg-8-8">
										<div class="siteorigin-panels-stretch panel-row-style" style="padding: 30px;background-color:#252525;padding: 30px 0; " data-stretch-type="full"
											data-overlay="true">
											<div class="panel-grid-cell" id="pgc-8-8-0">
												<div class="so-panel widget widget_sydney_action sydney_action_widget panel-first-child panel-last-child" id="panel-8-8-0-0"
													data-index="10">
													<div class="roll-promobox aside-style">
														<div class="promo-wrap">
															<div class="promo-content">
																<h3 class="title">WANT TO KNOW MORE ABOUT OUR COMPANY? CURIOUS WHAT ELSE WE DO?</h3>
															</div>
															<div class="promo-controls">
																<a href="index.html#pg-8-9" class="roll-button border">Learn more</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>-->
								<div class="panel-grid" id="pg-8-9">
									<div class="siteorigin-panels-stretch panel-row-style" style="border-bottom: 1px solid #e0e0e0;padding: 100px 0; " data-stretch-type="full"
										data-overlay="true">
										<div class="panel-grid-cell" id="pgc-8-9-0">
											<div class="so-panel widget widget_text panel-first-child panel-last-child" id="panel-8-9-0-0" data-index="11">
												<h3 class="widget-title">About us</h3>
												<div class="textwidget">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel placerat magna, eget scelerisque est. Ut
													tincidunt, sem vehicula sodales blandit, sem nisi pharetra dui, hendrerit pulvinar ante lectus eu lectus. Quisque
													sed enim fermentum, condimentum nisi nec, consequat lacus. Sed massa metus, tincidunt quis condimentum eget,
													viverra id sem. Nam dapibus nibh consectetur, accumsan libero sed, dictum augue. Nulla cursus tortor in felis
													cursus volutpat. Aenean laoreet sapien et justo ultrices, at pellentesque dui semper. In quis leo id sem semper
													accumsan nec vitae eros. Ut non hendrerit diam. Curabitur malesuada arcu sit amet nulla vulputate imperdiet.
												</div>
											</div>
										</div>
										<div class="panel-grid-cell" id="pgc-8-9-1">
											<div class="so-panel widget widget_sydney_video_widget sydney_video_widget_widget panel-first-child panel-last-child" id="panel-8-9-1-0"
												data-index="12">
												<iframe width="1170" height="658" src="https://www.youtube.com/embed/7iBqEknWOiU?feature=oembed" frameborder="0" allowfullscreen></iframe>
											</div>
										</div>
									</div>
								</div>
								<div class="panel-grid" id="pg-8-10">
									<div class="siteorigin-panels-stretch panel-row-style" style="background-color:#f5f5f5;border-bottom: 1px solid #e0e0e0;padding: 100px 0; "
										data-stretch-type="full" data-overlay="true">
										<div class="panel-grid-cell" id="pgc-8-10-0">
											<div class="so-panel widget widget_sydney_clients sydney_clients_widget panel-first-child panel-last-child" id="panel-8-10-0-0"
												data-index="13">

												<div class="roll-client">
													<div class="client-item">
														<img width="88" height="90" src="public/images/uploads/5.png" class="attachment-sydney-small-thumb size-sydney-small-thumb wp-post-image"
															alt="5" /> </div>
													<div class="client-item">
														<img width="123" height="90" src="public/images/uploads/2.png" class="attachment-sydney-small-thumb size-sydney-small-thumb wp-post-image"
															alt="2" /> </div>
													<div class="client-item">
														<img width="149" height="90" src="public/images/uploads/4.png" class="attachment-sydney-small-thumb size-sydney-small-thumb wp-post-image"
															alt="4" /> </div>
													<div class="client-item">
														<a target="_self" href="http://google.com"><img width="87" height="90" src="public/images/uploads/3.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
																alt="3" /></a>
													</div>
													<div class="client-item">
														<a target="_self" href="http://google.com"><img width="129" height="90" src="public/images/uploads/1.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
																alt="1" /></a>
													</div>
												</div>




											</div>
										</div>
									</div>
								</div>
								<div class="panel-grid" id="pg-8-11">
									<div style="padding: 100px 0; " data-overlay="true" class="panel-row-style">
										<div class="panel-grid-cell" id="pgc-8-11-0">
											<div class="so-panel widget widget_sydney_latest_news sydney_latest_news_widget panel-first-child panel-last-child" id="panel-8-11-0-0"
												data-index="14">
												<h3 class="widget-title" data-aos="zoom-in" data-aos-offset="200">Góc coffee</h3>
												<div class="blog-post col-md-4 col-sm-6 col-xs-12">
													<div class="entry-thumb" data-aos="flip-left" data-aos-offset="200" data-aos-duration="2000" data-aos-delay="300">
														<a href="dont-miss-our-next-event/index.html" title="Don&#8217;t miss our next event">
															<img width="550" height="367" src="public/images/uploads/macbook-336704_1280-550x367.jpg" class="attachment-sydney-medium-thumb size-sydney-medium-thumb wp-post-image"
																alt="macbook-336704_1280" srcset="http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/macbook-336704_1280-550x367.jpg 550w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/macbook-336704_1280-300x200.jpg 300w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/macbook-336704_1280-1024x682.jpg 1024w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/macbook-336704_1280-272x182.jpg 272w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/macbook-336704_1280.jpg 1280w"
																sizes="(max-width: 550px) 100vw, 550px" /> </a>
													</div>

													<h4 class="entry-title" data-aos="fade-in" data-aos-offset="600" data-aos-delay="300"><a href="dont-miss-our-next-event/index.html" rel="bookmark">Don&#8217;t miss our next event</a></h4>
													<div class="entry-summary" data-aos="fade-in" data-aos-offset="600" data-aos-delay="300">
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis dignissim ultrices. Suspendisse ut sollicitudin
															nisi. Fusce efficitur nec nunc nec bibendum. Praesent laoreet tortor quis velit facilisis faucibus. Maecenas
															sollicitudin lectus diam, non vehicula arcu ullamcorper ac. In pharetra, est vitae interdum tincidunt, urna
															ligula rutrum tellus, sit amet pharetra purus magna eu enim. [&hellip;]</p>
													</div>
												</div>
												<div class="blog-post col-md-4 col-sm-6 col-xs-12">
													<div class="entry-thumb" data-aos="flip-left" data-aos-offset="200" data-aos-duration="2000" data-aos-delay="500">
														<a href="a-day-at-the-office/index.html" title="A day at the office">
															<img width="550" height="365" src="public/images/uploads/ipad-606764_1280-550x365.jpg" class="attachment-sydney-medium-thumb size-sydney-medium-thumb wp-post-image"
																alt="ipad-606764_1280" srcset="http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/ipad-606764_1280-550x365.jpg 550w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/ipad-606764_1280-300x199.jpg 300w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/ipad-606764_1280-1024x680.jpg 1024w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/ipad-606764_1280-272x182.jpg 272w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/ipad-606764_1280.jpg 1280w"
																sizes="(max-width: 550px) 100vw, 550px" /> </a>
													</div>

													<h4 class="entry-title" data-aos="fade-in" data-aos-offset="600" data-aos-delay="500"><a href="a-day-at-the-office/index.html" rel="bookmark">A day at the office</a></h4>
													<div class="entry-summary" data-aos="fade-in" data-aos-offset="600" data-aos-delay="500">
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis dignissim ultrices. Suspendisse ut sollicitudin
															nisi. Fusce efficitur nec nunc nec bibendum. Praesent laoreet tortor quis velit facilisis faucibus. Maecenas
															sollicitudin lectus diam, non vehicula arcu ullamcorper ac. In pharetra, est vitae interdum tincidunt, urna
															ligula rutrum tellus, sit amet pharetra purus magna eu enim. [&hellip;]</p>
													</div>
												</div>
												<div class="blog-post col-md-4 col-sm-6 col-xs-12">
													<div class="entry-thumb" data-aos="flip-left" data-aos-offset="200" data-aos-duration="2000" data-aos-delay="700">
														<a href="just-a-simple-post/index.html" title="Just a simple post">
															<img width="550" height="365" src="public/images/uploads/imac-606765_1280-550x365.jpg" class="attachment-sydney-medium-thumb size-sydney-medium-thumb wp-post-image"
																alt="imac-606765_1280" srcset="http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/imac-606765_1280-550x365.jpg 550w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/imac-606765_1280-300x199.jpg 300w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/imac-606765_1280-1024x680.jpg 1024w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/imac-606765_1280-272x182.jpg 272w, http://demo.athemes.com/sydney/wp-content/uploads/sites/35/2015/03/imac-606765_1280.jpg 1280w"
																sizes="(max-width: 550px) 100vw, 550px" /> </a>
													</div>

													<h4 class="entry-title" data-aos="fade-in" data-aos-offset="600" data-aos-delay="700"><a href="just-a-simple-post/index.html" rel="bookmark">Just a simple post</a></h4>
													<div class="entry-summary" data-aos="fade-in" data-aos-offset="600" data-aos-delay="700">
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis dignissim ultrices. Suspendisse ut sollicitudin
															nisi. Fusce efficitur nec nunc nec bibendum. Praesent laoreet tortor quis velit facilisis faucibus. Maecenas
															sollicitudin lectus diam, non vehicula arcu ullamcorper ac. In pharetra, est vitae interdum tincidunt, urna
															ligula rutrum tellus, sit amet pharetra purus magna eu enim. [&hellip;]</p>
													</div>
												</div>

												<a href="my-blog/index.html" class="roll-button more-button" data-aos="zoom-in-up" data-aos-delay="450" data-aos-offset="400">See all our news</a>

											</div>
										</div>
									</div>
								</div>
								<div class="panel-grid" id="pg-8-12">
									<div class="siteorigin-panels-stretch panel-row-style" style="padding: 50px;background-color:#d65050;color: #ffffff;padding: 50px 0; "
										data-stretch-type="full" data-hascolor="hascolor" data-overlay="true">
										<div class="panel-grid-cell" id="pgc-8-12-0">
											<div class="so-panel widget widget_fp_social panel-first-child panel-last-child" id="panel-8-12-0-0" data-index="15">
												<div class="menu-social-container">
													<ul id="menu-social" class="menu social-menu-widget clearfix">
														<li id="menu-item-64" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-64"><a href="http://facebook.com"><span class="screen-reader-text">Fb</span></a></li>
														<li id="menu-item-65" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65"><a href="http://twitter.com"><span class="screen-reader-text">Twitter</span></a></li>
														<li id="menu-item-66" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-66"><a href="http://plus.google.com"><span class="screen-reader-text">Google plus</span></a></li>
														<li id="menu-item-67" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-67"><a href="http://instagram.com"><span class="screen-reader-text">Instagram</span></a></li>
														<li id="menu-item-68" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-68"><a href="http://linkedin.com"><span class="screen-reader-text">Linkedin</span></a></li>
														<li id="menu-item-149" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-149"><a href="http://youtube.com"><span class="screen-reader-text">Youtube</span></a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- .entry-content -->

					</main>
					<!-- #main -->
				</div>
				<!-- #primary -->

			</div>
		</div>
	</div>
	<!-- #content -->




	<!--<div id="sidebar-footer" class="footer-widgets widget-area" role="complementary">
			<div class="container">
				<div class="sidebar-column col-md-4">
					<aside id="sydney_video_widget-3" class="widget sydney_video_widget_widget">
						<iframe width="1170" height="658" src="https://www.youtube.com/embed/7iBqEknWOiU?feature=oembed" frameborder="0" allowfullscreen></iframe>
					</aside>
				</div>

				<div class="sidebar-column col-md-4">
					<aside id="text-2" class="widget widget_text">
						<div class="textwidget">Sydney is a powerful business theme that provides a fast way for companies or freelancers to create an awesome online
							presence. Sydney brings plenty of customization possibilities like access to all Google Fonts, full color control,
							layout control, logo upload, full screen slider, header image, sticky navigation and much more. Also, Sydney provides
							all the construction blocks you need to rapidly create an engaging front page.</div>
					</aside>
				</div>

				<div class="sidebar-column col-md-4">
					<aside id="sydney_contact_info-2" class="widget sydney_contact_info_widget">
						<h3 class="widget-title">Get in touch</h3>
						<div class="contact-address"><span><i class="fa fa-home"></i></span>77 W Houston St New York, NY 10012, USA</div>
						<div class="contact-phone"><span><i class="fa fa-phone"></i></span>+99 555 999</div>
						<div class="contact-email"><span><i class="fa fa-envelope"></i></span><a href="mailto:&#99;o&#110;tact&#64;com&#112;an&#121;&#46;&#99;&#111;m">&#99;o&#110;tact&#64;com&#112;an&#121;&#46;&#99;&#111;m</a></div>
					</aside>
				</div>


			</div>
		</div>-->
	<a class="go-top"><i class="fa fa-angle-up"></i></a>

	<footer id="colophon" class="site-footer" role="contentinfo">
		<div class="site-info container">
			<a href="http://wordpress.org/">Proudly powered Toan NGUYEN</a>
			<span class="sep"> | </span> Copyright of Viva Star Coffee </div>
		<!-- .site-info -->
	</footer>
	<!-- #colophon -->
</div>
<!-- #page -->
