<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Viva Star Coffee</title>

    <!-- external css -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600&ver=4.6.1' type='text/css'
        media='all' />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Raleway:400,500,600&ver=4.6.1' type='text/css' media='all'
    />
    <link rel='stylesheet' href='public/fonts/font-awesome.min-ver=4.6.1.css' type='text/css' media='all' />
    <!-- external css -->

    <!-- My style -->
    <!--<link rel='stylesheet' href='public/css/built/bootstrap.min-ver=1.css' type='text/css' media='all' />
		<link rel='stylesheet' href='public/css/built/front-ver=2.4.17.css' type='text/css' media='all' />
		<link rel='stylesheet' href='public/css/built/inline.css' type='text/css' media='all' />
		<link rel='stylesheet' href='public/css/built/my_style_id-35-1477842678.css' type='text/css' media='all' />
		<link rel='stylesheet' href='public/css/built/style-ver=4.6.1.css' type='text/css' media='all' />
		<link rel="stylesheet" href="public/css/libs/aos.css" />
		<link rel='stylesheet' href='public/css/style.css' type='text/css' media='all' />-->
    <link rel='stylesheet' href='public/css/style.min.css' type='text/css' media='all' />
    <!-- My style -->
</head>

<body class="home page page-id-8 page-template page-template-page-templates page-template-page_front-page page-template-page-templatespage_front-page-php siteorigin-panels siteorigin-panels-home">
    <%-body%>

        <script type='text/javascript' src='public/js/libs/jquery.min.js'></script>
        <script type='text/javascript' src='public/js/libs/jquery-migrate-3.0.0.min.js'></script>
        <script type='text/javascript' src='public/js/built/scripts-ver=4.6.1.js'></script>
        <script type='text/javascript' src='public/js/built/main.min-ver=4.6.1.js'></script>
        <script type='text/javascript' src='public/js/built/styling-24.min-ver=2.4.17.js'></script>
        <script type='text/javascript' src='public/js/libs/aos.js'></script>
        <script type='text/javascript' src='public/js/pages/home.page.js'></script>
</body>

</html>
