.site-title {
    font-size: 32px;
}

.site-description {
    font-size: 14px;
}

#mainnav ul li a {
    font-size: 14px;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

body {
    font-size: 14px;
}

.header-image {
    background-size: cover;
}

.header-image {
    height: 300px;
}

.site-header.float-header {
    background-color: rgba(0, 0, 0, 0.9);
}

@media only screen and (max-width: 991px) {
    .site-header {
        background-color: #000000;
    }
}

.site-title a,
.site-title a:hover {
    color: #ffffff
}

.site-description {
    color: #ffffff
}

#mainnav ul li a,
#mainnav ul li::before {
    color: #ffffff
}

#mainnav .sub-menu li a {
    color: #ffffff
}

#mainnav .sub-menu li a {
    background: #1c1c1c
}

.text-slider .maintitle,
.text-slider .subtitle {
    color: #ffffff
}

body {
    color: #767676
}

#secondary {
    background-color: #ffffff
}

#secondary,
#secondary a,
#secondary .widget-title {
    color: #767676
}

.footer-widgets {
    background-color: #252525;
}

.site-footer {
    background-color: #1c1c1c;
}

.site-footer,
.site-footer a {
    color: #666666
}

.overlay {
    background-color: #000000
}

.page-wrap {
    padding-top: 83px;
}

.page-wrap {
    padding-bottom: 100px;
}

.recentcomments a {
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important;
}

/* Layout 8 */
#pg-8-0,
#pg-8-1,
#pg-8-2,
#pg-8-3,
#pg-8-4,
#pg-8-5,
#pg-8-6,
#pg-8-7,
#pg-8-8,
#pg-8-9,
#pg-8-10,
#pg-8-11,
#pl-8 .panel-grid-cell .so-panel,
#pl-8 .panel-grid-cell .so-panel:last-child {
    margin-bottom: 0px
}

#pg-8-0 .panel-grid-cell,
#pg-8-2 .panel-grid-cell,
#pg-8-3 .panel-grid-cell,
#pg-8-4 .panel-grid-cell,
#pg-8-5 .panel-grid-cell,
#pg-8-6 .panel-grid-cell,
#pg-8-8 .panel-grid-cell,
#pg-8-10 .panel-grid-cell,
#pg-8-11 .panel-grid-cell,
#pg-8-12 .panel-grid-cell {
    float: none
}

#pgc-8-1-0,
#pgc-8-1-1,
#pgc-8-9-0,
#pgc-8-9-1 {
    width: 50%
}

#pg-8-1 .panel-grid-cell,
#pg-8-7 .panel-grid-cell,
#pg-8-9 .panel-grid-cell {
    float: left
}

#pgc-8-7-0 {
    width: 50.036%
}

#pgc-8-7-1 {
    width: 49.964%
}

#pg-8-0,
#pg-8-1,
#pg-8-2,
#pg-8-3,
#pg-8-4,
#pg-8-5,
#pg-8-6,
#pg-8-7,
#pg-8-8,
#pg-8-9,
#pg-8-10,
#pg-8-11,
#pg-8-12 {
    margin-left: -15px;
    margin-right: -15px
}

#pg-8-0 .panel-grid-cell,
#pg-8-1 .panel-grid-cell,
#pg-8-2 .panel-grid-cell,
#pg-8-3 .panel-grid-cell,
#pg-8-4 .panel-grid-cell,
#pg-8-5 .panel-grid-cell,
#pg-8-6 .panel-grid-cell,
#pg-8-7 .panel-grid-cell,
#pg-8-8 .panel-grid-cell,
#pg-8-9 .panel-grid-cell,
#pg-8-10 .panel-grid-cell,
#pg-8-11 .panel-grid-cell,
#pg-8-12 .panel-grid-cell {
    padding-left: 15px;
    padding-right: 15px
}

@media (max-width:780px) {
    #pg-8-0 .panel-grid-cell,
    #pg-8-1 .panel-grid-cell,
    #pg-8-2 .panel-grid-cell,
    #pg-8-3 .panel-grid-cell,
    #pg-8-4 .panel-grid-cell,
    #pg-8-5 .panel-grid-cell,
    #pg-8-6 .panel-grid-cell,
    #pg-8-7 .panel-grid-cell,
    #pg-8-8 .panel-grid-cell,
    #pg-8-9 .panel-grid-cell,
    #pg-8-10 .panel-grid-cell,
    #pg-8-11 .panel-grid-cell,
    #pg-8-12 .panel-grid-cell {
        float: none;
        width: auto
    }
    #pgc-8-1-0,
    #pgc-8-7-0,
    #pgc-8-9-0,
    #pl-8 .panel-grid .panel-grid-cell-mobile-last {
        margin-bottom: 0px
    }
    #pl-8 .panel-grid .panel-grid-cell-empty {
        display: none
    }
}

/* Layout w56f52953c3d68 */

#pg-w56f52953c3d68-0,
#pl-w56f52953c3d68 .panel-grid-cell .so-panel,
#pl-w56f52953c3d68 .panel-grid-cell .so-panel:last-child {
    margin-bottom: 0px
}

#pg-w56f52953c3d68-0 .panel-grid-cell {
    float: none
}

#pgc-w56f52953c3d68-1-0,
#pgc-w56f52953c3d68-1-1 {
    width: 50%
}

#pg-w56f52953c3d68-1 .panel-grid-cell {
    float: left
}

#pg-w56f52953c3d68-0,
#pg-w56f52953c3d68-1 {
    margin-left: -15px;
    margin-right: -15px
}

#pg-w56f52953c3d68-0 .panel-grid-cell,
#pg-w56f52953c3d68-1 .panel-grid-cell {
    padding-left: 15px;
    padding-right: 15px
}

@media (max-width:780px) {
    #pg-w56f52953c3d68-0 .panel-grid-cell,
    #pg-w56f52953c3d68-1 .panel-grid-cell {
        float: none;
        width: auto
    }
    #pgc-w56f52953c3d68-1-0,
    #pl-w56f52953c3d68 .panel-grid .panel-grid-cell-mobile-last {
        margin-bottom: 0px
    }
    #pl-w56f52953c3d68 .panel-grid .panel-grid-cell-empty {
        display: none
    }
}

#mainnav {
   padding-left: 33%;
}

@media (max-width:1199px) {
    #mainnav {
        padding-left: 16%;
    }    
}

#mainnav li {
   opacity: 0;
}

.mainnav.active li{
   opacity: 1 !important;
}

.nav-menu {
   float: right;
}

.nav-menu i{
   color: #ffffff;
}

/*Search bar*/
.search-bar {
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 100% !important;
   margin-top: 7px;
   border-radius: 10px !important;
   opacity: 0;
   transition: opacity 30s ease-in-out, width 30s linear;
}

.search button{
   background: transparent;
   border: none;
   float: right;
   margin-right: 20px;
   padding: 0;
}

.search button:focus{
   outline: 0;
}

.search-bar.active {
   opacity: 1 !important;
   width: 89%;
}
